* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.GameArea {
    position: relative;
    width: 400px;
    height: 100vh;
    background-color: rgb(10, 10, 10);
    margin: auto;
    overflow: hidden;
    border-left: 10px dashed white;
    border-right: 10px dashed white;
}
.hide{
    display: none;
}

.other{
    width: 50px;
    height: 70px;
    background-color: rgb(154, 209, 27);
    position: absolute;
    bottom: 120px;
}

.carGame {
    background-image: url(images/—Pngtree—savana\ ground_8666285.png);
    background-size: cover;
}
.Score{
    position: absolute;
    top: 15px;
    left: 50px;
    text-align: center;
    padding-top: 23px;
    font-size: 30px;
    line-height: 20px;
    background-color: rgba(34, 119, 8, 0.952);
    color: white;
    width: 300px;
    height: 100px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}
.StartScreen{
    position: absolute;
    background-color: rgba(223, 49, 18, 0.952);
    color: white;
    z-index: 1;
    margin-top: 210px;
    margin-left:360px;
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    font-size: 30px;
    width: 50%;
    height: 200px;
    cursor: pointer;
    border-radius: 23px;
}
button{
    padding: 10px;
    text-align: center;
    background-color: black;
    color: rgb(15, 173, 235);
}
.lines{
    width: 10px;
    height: 100px;
    background: white;
    position: absolute;
    margin-left: 195px;
}
.car{
    width: 50px;
    height: 70px;
    background-color: red;
    position: absolute;
    bottom: 120px;
    background-image: url(images/car1.jpeg);
    background-size: cover;
}